<!-- Modification of theme default to add custom footer. -->


<footer class="footer">
	<div class="footer__inner">
		<div class="copyright" style="text-align:center">
			<span>
				© {{ now.Year }} Siddh Raman Pant
				<br>
				<a href="/about#license">License</a>
				::
				<a href="/about#sources">Sources</a>
				::
				<a href="/about#credits">Credits</a>
			</span>
		</div>
	</div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section -->
{{ partial "extended_footer.html" . }}


<!-- End of file. -->
